@using Entities.Concreate.ViewModels;


@model List<TicketListDTO>
<h4>Ticket List</h4>

<table class="table">
    <thead>
        <tr>
            
            <th>Etkinlik Adı</th>
            <th>Tarihi</th>
            <th>Şehri</th>
            <th>Bilet Numarası</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
         
            <tr>
                <td>@item.EventName</td>
                <td>@item.DateTime</td>
                <td>@item.CityName</td>
                <td>@item.TicketID</td>
                <td>
                        <a asp-controller="Ticket" asp-action="Delete" asp-route-id="@item.TicketID" class="btn btn-warning">İptal Et</a>
               </td>
            </tr>
        }

    </tbody>
</table>